In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="emmah",
  database="test"
)

In [3]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('lfp2018',)

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM lfp2018")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'ABIA', 2023767.765, 1384053.764, 971940.2318)
(2, 'ADAMAWA', 1588278.284, 1257232.151, 724612.6128)
(3, 'AKWA-IBOM', 3599981.393, 2242227.699, 2081274.495)
(4, 'ANAMBRA', 3251914.782, 2683681.973, 1140385.238)
(5, 'BAUCHI', 2122724.499, 1624123.445, 1000322.703)
(6, 'BAYELSA', 1362013.642, 918576.3358, 678171.0585)
(7, 'BENUE', 2777485.249, 2218229.987, 1253173.43)
(8, 'BORNO', 2468889.844, 1693826.943, 1404753.611)
(9, 'CROSS RIVER', 1936997.976, 1343610.574, 979105.8321)
(10, 'DELTA', 3120369.51, 2329084.999, 1350328.302)
(11, 'EBONYI', 1528582.172, 1205683.617, 624371.3834)
(12, 'EDO', 2095235.333, 1569481.293, 911076.9891)
(13, 'EKITI', 1770459.249, 1412959.576, 605826.49)
(14, 'ENUGU', 2467331.567, 2006869.132, 896774.2223)
(15, 'GOMBE', 995947.1922, 727056.5354, 504951.0718)
(16, 'IMO', 3123271.134, 2242920.268, 1351431.972)
(17, 'JIGAWA', 1553869.891, 1141942.717, 1004199.796)
(18, 'KADUNA', 3504776.637, 2564296.158, 2027079.703)
(19, 'KANO', 4022761.244, 2765631.259, 2233789.403)
(20, 'KATSINA', 1799855.083, 1542017.875, 968656.4822)
(21, 'KEBBI', 1556976.408, 1243932.758, 576711.9579)
(22, 'KOGI', 2463101.668, 1977449.079, 1097473.728)
(23, 'KWARA', 1612475.845, 1271808.452, 685528.9978)
(24, 'LAGOS', 7478255.625, 6389903.64, 2012469.481)
(25, 'NASARAWA', 1366207.329, 991996.2149, 705787.3622)
(26, 'NIGER', 1917789.534, 1517904.995, 916391.4025)
(27, 'OGUN', 3116782.024, 2605505.369, 849911.5893)
(28, 'ONDO', 2502481.879, 2146218.797, 792992.0993)
(29, 'OSUN', 2466518.617, 2218203.01, 609184.2)
(30, 'OYO', 4032123.495, 3615293.179, 995220.3671)
(31, 'PLATEAU', 2084700.311, 1463885.329, 1074269.333)
(32, 'RIVERS', 4601135.39, 2927144.417, 2674076.26)
(33, 'SOKOTO', 1672919.586, 1237217.781, 880738.4934)
(34, 'TARABA', 2207684.201, 1788779.5, 617684.3072)
(35, 'YOBE', 1113650.258, 791184.3512, 656020.0426)
(36, 'ZAMFARA', 1427042.24, 1170525.161, 584865.0115)
(37, 'FCT', 1736234.752, 1312485.278, 702388.3078)

In [5]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM lfp2018 WHERE id='3'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(3, 'AKWA-IBOM', 3599981.393, 2242227.699, 2081274.495)

In [6]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM lfp2018 WHERE State ='3'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [7]:
mycursor = mydb.cursor()
sql = "INSERT INTO lfp2018 (id,State,Labour_Force_Population,Total_Employed,Total_Unemployed_Plus_Underemployed) VALUES (%s, %s, %s,%s, %s)"
val = ("57", "KANO", "234", "345","456")
mycursor.execute(sql,val)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [8]:
mycursor = mydb.cursor()
sql = "SELECT * FROM lfp2018 ORDER BY State"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'ABIA', 2023767.765, 1384053.764, 971940.2318)
(2, 'ADAMAWA', 1588278.284, 1257232.151, 724612.6128)
(3, 'AKWA-IBOM', 3599981.393, 2242227.699, 2081274.495)
(4, 'ANAMBRA', 3251914.782, 2683681.973, 1140385.238)
(5, 'BAUCHI', 2122724.499, 1624123.445, 1000322.703)
(6, 'BAYELSA', 1362013.642, 918576.3358, 678171.0585)
(7, 'BENUE', 2777485.249, 2218229.987, 1253173.43)
(8, 'BORNO', 2468889.844, 1693826.943, 1404753.611)
(9, 'CROSS RIVER', 1936997.976, 1343610.574, 979105.8321)
(10, 'DELTA', 3120369.51, 2329084.999, 1350328.302)
(11, 'EBONYI', 1528582.172, 1205683.617, 624371.3834)
(12, 'EDO', 2095235.333, 1569481.293, 911076.9891)
(13, 'EKITI', 1770459.249, 1412959.576, 605826.49)
(14, 'ENUGU', 2467331.567, 2006869.132, 896774.2223)
(37, 'FCT', 1736234.752, 1312485.278, 702388.3078)
(15, 'GOMBE', 995947.1922, 727056.5354, 504951.0718)
(16, 'IMO', 3123271.134, 2242920.268, 1351431.972)
(17, 'JIGAWA', 1553869.891, 1141942.717, 1004199.796)
(18, 'KADUNA', 3504776.637, 2564296.158, 2027079.703)
(57, 'KANO', 234.0, 345.0, 456.0)
(19, 'KANO', 4022761.244, 2765631.259, 2233789.403)
(20, 'KATSINA', 1799855.083, 1542017.875, 968656.4822)
(21, 'KEBBI', 1556976.408, 1243932.758, 576711.9579)
(22, 'KOGI', 2463101.668, 1977449.079, 1097473.728)
(23, 'KWARA', 1612475.845, 1271808.452, 685528.9978)
(24, 'LAGOS', 7478255.625, 6389903.64, 2012469.481)
(25, 'NASARAWA', 1366207.329, 991996.2149, 705787.3622)
(26, 'NIGER', 1917789.534, 1517904.995, 916391.4025)
(27, 'OGUN', 3116782.024, 2605505.369, 849911.5893)
(28, 'ONDO', 2502481.879, 2146218.797, 792992.0993)
(29, 'OSUN', 2466518.617, 2218203.01, 609184.2)
(30, 'OYO', 4032123.495, 3615293.179, 995220.3671)
(31, 'PLATEAU', 2084700.311, 1463885.329, 1074269.333)
(32, 'RIVERS', 4601135.39, 2927144.417, 2674076.26)
(33, 'SOKOTO', 1672919.586, 1237217.781, 880738.4934)
(34, 'TARABA', 2207684.201, 1788779.5, 617684.3072)
(35, 'YOBE', 1113650.258, 791184.3512, 656020.0426)
(36, 'ZAMFARA', 1427042.24, 1170525.161, 584865.0115)

In [9]:
import ipywidgets as wg

In [10]:
from IPython.display import display

In [11]:
State = wg.Text(value='State')
Population = wg.IntSlider(description='Population:')
display(State,Population)

Text(value='State')

IntSlider(value=0, description='Population:')